  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul *ngIf="isAuthenticated()" class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion sidebar_costum" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center bg-gray-900 border-bottom-light"
        href="#">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-seedling"></i>
        </div>
        <div class="sidebar-brand-text mx-3 costum-brand">Smart <sup>Farm</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a [ngClass]="{'btn disabled': !isSysteMonitoring()}" class="nav-link btn" (click)="goToDashboard()">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span class="font-weight-bold my-font">Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">
      <!-- Divider -->
       <li class="nav-item">
          <a [ngClass]="{'btn disabled': !isSysteMonitoring()}" class="nav-link" routerLink="/status-table">
            <i class="fas fa-fw fa-table"></i>
            <span class="font-weight-bold my-font">State Table</span></a>
        </li>
        <hr class="sidebar-divider">
      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
          <a [ngClass]="{'btn disabled': !isSysteMonitoring()}" class="nav-link" routerLink="/parameters-system">
            <i class="fas fa-cogs"></i>
            <span class="font-weight-bold my-font">System Parameters</span></a>
        </li>

      <!-- Divider -->
      <hr class="sidebar-divider">
      <!-- Nav Item - Pages Collapse Menu -->
      
      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a [ngClass]="{'btn disabled': !isSysteMonitoring()}" class="nav-link " routerLink="/map-localisation">
          <i class="fas fa-map-marked-alt"></i>
          <span class="font-weight-bold my-font">Map Localisation</span></a>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">
      <li class="nav-item">
          <a [ngClass]="{'btn disabled': !isSysteMonitoring()}" class="nav-link " routerLink="/connect-system">
            <i class="fas fa-tractor"></i>
            <span class="font-weight-bold my-font">Change Farm System</span></a>
        </li>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow navbar_costum">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <!-- Topbar  *ngIf="!isSysteMonitoring()"  Navbar -->
          <ul class="navbar-nav ml-auto">
            <li *ngIf="isSysteMonitoring()" class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link " aria-expanded="false">
                  <i class="fas fa-tractor"></i>&nbsp;
                <span class="systemName" id="systemNameSpan"> </span>
              </a>
            </li>
            <li *ngIf="isAdmin()" class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link " aria-expanded="false">
                  <span class="systemUser small">[ ADMIN ] </span>
                </a>
              </li>
              <li *ngIf="!isAdmin() &&isAuthenticated()" class="nav-item dropdown no-arrow mx-1">
                  <a class="nav-link " aria-expanded="false">
                    <span class="systemUser small">[ USER ] </span>
                  </a>
                </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <!-- Nav Item - Messages -->
            <li *ngIf="isAuthenticated()" class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">0</span>
              </a>
              </li>
                

            <div class="topbar-divider d-none d-sm-block"></div>
              
            <!-- Nav Item - User Information -->
            <li *ngIf="isAuthenticated()" class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span
                  class="mr-2 d-none d-lg-inline text-gray-700 small username">{{this.authService.showCurrentUsername()}}</span>
                <img class="img-profile rounded-circle" src="https://image.flaticon.com/icons/png/512/190/190683.png">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a [ngClass]="{'btn disabled': !isSysteMonitoring()}" class="dropdown-item btn" (click)="goToDashboard()">
                  <i class="fas fa-fw fa-tachometer-alt mr-2 text-gray-400"></i>
                  Dashboard
                </a>
                <a *ngIf="isAdmin()" class="dropdown-item" routerLink="/create-user">
                  <i class="fas fa-user-plus fa-sm fa-fw mr-2 text-gray-400"></i>
                  Create User
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

            <a *ngIf="!isAuthenticated()" routerLink="/login">
              <button class="btn btn-outline-secondary costum-login-button shadow">
                <i class="fas fa-sign-in-alt"></i> Login
              </button>
            </a>

          </ul>

        </nav>
        <!-- End of Topbar -->
        <!-- /.container-fluid -->
        <router-outlet>
        </router-outlet>
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Smart Farm System 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-gradient-light">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-sign-out-alt"></i> Are you ready to leave ?
          </h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body"><i class="fas fa-exclamation-triangle"></i> If you select "Logout" you will end your
          current session.<br>
          <p class="font-weight-bold text-gray-700">Please notice that this operation will not shut down the system.</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <button class="btn btn-danger" data-dismiss="modal" (click)='logout()'><i class="far fa-times-circle"></i>
            Logout</button>
        </div>
      </div>
    </div>
  </div>
