@import url('https://fonts.googleapis.com/css?family=Numans');
.cs-header-costum{
    border-left: white 4px solid;
    border-right: white 4px solid;
    border-radius: 5px;
    font-family: 'Numans', sans-serif;
}
.cs-costum-card{
    background-color: rgba(2, 10, 43, 0.2) !important;   
    margin: 20px;
}

.connection_logo{
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}
.custom-select{
    font-family: 'Audiowide', cursive;
    font-size: 15px;
}

.custom-select:hover{
    border: 2px white solid;
}

.custom-button-test{
    font-family: 'Audiowide', cursive;
    font-size: 15px;
}

.input-group-prepend span{
    width: 50px;
    background-color: rgb(115, 174, 223);
    color: white;
    border-right: white solid 1px;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    }
    .input-group-costum{
        color: white;
        font-size: 16px;
        background-color: rgb(37, 117, 192);
    }
    .input-group-costum:hover{
        background-color: #0d6edd;
    }
    
    .costum-input{
        background-color: rgb(216, 223, 247);
        border : white solid 3px;
        color:  rgb(113, 143, 243); 
    }
    
    .costum-invalid{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: italic bold;
        color: rgb(209, 9, 9);
        font-size: 15px
        
    }
    ::placeholder{
        color: rgb(110, 143, 248); 
        font-family: Arial, Helvetica, sans-serif;
    }
    


