<div class="container">
  <div class="container-fluid">
      <div class="alert alert-dark font-weight-bold" role="alert">
          Access Denied !
        </div>
    <div class="bg-dark text-white py-5">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-2 text-center font-weight-bold">
            <p><i class="fa fa-exclamation-triangle fa-5x"></i><br />STATUS CODE : 403</p>
          </div>
          <div class="col-md-10">
            <h3>OPPSSS!!!! Sorry...</h3>
            <p>Sorry, your access is refused due to security reasons of our server and also our sensitive
              data.<br />Please go back to the previous page to continue browsing.</p>
            <button class="btn btn-danger" disabled href="javascript:history.back()">Go Back</button>
          </div>
        </div>
      </div>

      <div id="footer" class="text-center">
        Hak Cipta 2018, Garuda Cyber Technologies
      </div>
    </div>
  </div>
</div>
